<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>


<table th:fragment="table">
    <thead>
    <tr>
        <th>Asset</th>
        <th>Account</th>
        <th>Qty</th>
        <th>Cost (GBP)</th>
        <th>Price (GBP)</th>
        <th>P&L (GBP)</th>
        <th>%</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${positions}">
        <td th:text="${p.assetName}"></td>
        <td th:text="${p.accountType}"></td>
        <td th:text="${#numbers.formatDecimal(p.quantity, 1, 0)}"></td>
        <td th:text="${#numbers.formatDecimal(p.purchasePriceGbp, 1, 2)}"></td>
        <td th:text="${#numbers.formatDecimal(p.currentPriceGbp, 1, 2)}"></td>
        <td th:text="${#numbers.formatDecimal(p.pnlGbp, 1, 2)}"
            th:classappend="${p.pnlGbp.signum() >= 0} ? 'pos' : 'neg'"></td>
        <td th:text="${#numbers.formatDecimal(p.percentChange, 1, 2)}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>